body {
  background: url(https://cdn.wallpapersafari.com/99/78/NfLFkt.jpg) no-repeat center center fixed;
  opacity: 0.80;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  width: 100%;
}